body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.highlighted-btn{
  background-color: orangered;
  color: #FFF;
  font-family: 800;
  border-radius: 20px;
  margin-left: 10px;
  padding: 10px 40px 10px 40px;
}
.highlighted-btn:hover{
  background-color:#000;
  color: #fff;
  font-family: 800;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}
.primary-btn{
  background-color:#000;
  color: #fff;
  font-family: 800;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}
.primary-btn:hover{
  background-color: orangered;
  color: #FFF;
  font-family: 800;
  border-radius: 20px;
 
  padding: 10px 40px 10px 40px;
}