.foot{
    background-color: #1f184c;
    height: 235px;
    margin-top: 30px;
}
.heds h3 {
    font-size: 22px;
    color: #ffffff;
    padding: 0px;
    margin-top: -20px;
}
.colz-1 .colz-icon-1 i {
    color: #fff;
    padding: 8px;
    padding-left: 0px;
    font-size: 24px;
}